<div class="quote-box">
  <div class="quote-of">
    Quote of
  </div>

  <div class="the-day">
    the Moment
  </div>
<br><br><br><br>
  <div class="quote">

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var quotes = ["1)  Two roads diverged in a wood and I – I took the one less traveled by. <div class='quote-author'> Robert Frost</div>",
"2) I do not love you as if you were salt-rose or topaz, or the arrow of carnations the fire shoots off. I love you as certain things are to be loved, in secret, between the shadow and the soul. <div class='quote-author'> Pablo Naruda</div>",
"3) Weave a circle round him thrice, And close your eyes with holy dread, For he on honey-dew hath fed, And drunk the milk of Paradise. <div class='quote-author'> Coleridge</div>",
"4) Late, late yestreen I saw the new Moon, With the old Moon in her arms; And I fear, I fear, My Master dear! We shall have a deadly storm. <div class='quote-author'> Coleridge</div>",
"5) I looked to heaven, and tried to pray; But or ever a prayer had gusht, A wicked whisper came, and made My heart as dry as dust. <div class='quote-author'> Coleridge</div>",
"6) NEVER seek to tell thy love, Love that never told can be; For the gentle wind doth move Silently, invisibly. <div class='quote-author'> Wm. Blake</div>",
"7) IN GIRUM IMUS NOCTE ET CONSUMIMUR IGNI. <div class='quote-author'> Traditional </div>",
"8) Specialization is for insects. <div class='quote-author'> Heinlein </div>",
"9) We live together, we act on, and react to, one another; but always and in all circumstances we are by ourselves. The martyrs go hand in hand into the arena; they are crucified alone... By its very nature every embodied spirit is doomed to suffer and enjoy in solitude. <div class='quote-author'> Huxley</div>",
"10) The more you read, the more things you will know. The more you learn, the more places you’ll go. <div class='quote-author'> Dr. Seuss</div>"];

$('.quote').html(quotes[Math.floor((Math.random() * 10) + 0)].slice(3));
  })
</script>
